{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:react/recommended",
    "plugin:flowtype/recommended",
    "prettier"
  ],
  "globals": {
    "fetch": true
  },
  "plugins": ["react", "flowtype", "prettier"],
  "rules": {
    "react/no-typos": 0,
    "no-return-assign": 0,
    "react/jsx-filename-extension": 0,
    "no-constant-condition": [
      "error",
      {
        "checkLoops": false
      }
    ],
    "global-require": 0,
    "import/prefer-default-export": 0,
    "prettier/prettier": "error",
    "react/jsx-wrap-multilines": 0,
    "flowtype/define-flow-type": 1,
    "react/destructuring-assignment": 0,
    "react/require-default-props": "off"
  }
}
