.question {
  height: 100vh;
  align-items: center;
  .box {
    border-radius: 0 3rem;
    position: relative;
    .btn-exit {
      position: absolute;
      right: 0;
      top: 0;
      height: 2rem;
      width: 2rem;
      display: flex;
      justify-content: center;
    }
    .box-title {
      border-radius: inherit;
      .box-title-background-2 {
        height: 3rem !important;
        border-bottom-left-radius: inherit !important;
        border-top-right-radius: 2rem;
      }
    }

    .box-body {
      .question {
        background-color: #eceeef;
        border-radius: 3rem;
        height: 100%;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        text-align: center;
        padding: 1rem;
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        p {
          margin-bottom: 0.5rem;
        }
        .options {
          .option {
            width: 80%;
            margin-bottom: 0.5rem;
            height: 3rem;
            font-size: 0.8rem;
          }
        }
        .progress-info {
          width: 60%;
          margin: 0 20%;
          height: 5px;
        }

        .evaluate {
          .btn {
            min-width: 150px;
          }
          img {
            margin-left: 5px;
            position: relative;
            top: -2px;
          }
        }
      }
    }

    .box-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      text-align: center;
      .box-progress {
        width: 350px;
        font-size: 0.75rem;
        .progress {
          height: 0.7rem;
        }
      }
    }
  }
}
