.Card {
  border-radius: 0 3rem;
  border: none;
  position: relative;
  cursor: pointer;
  img {
    border-top-right-radius: inherit;
  }
  .Body {
    padding: 15px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: inherit;
    position: relative;
    z-index: 3;
  }

  .App {
    position: absolute;
    right: 0.5rem;
    bottom: 3.5rem;
    z-index: 4;
  }

  .Bottom {
    border-bottom-left-radius: inherit;
    bottom: -0.4rem;
    height: 3rem;
    left: 2%;
    position: absolute;
    width: 92%;
    z-index: 2;
  }

  .Bottom2 {
    border-bottom-left-radius: inherit;
    bottom: -0.8rem;
    height: 3rem;
    left: 4%;
    position: absolute;
    width: 86%;
    z-index: 1;
  }
  &:hover {
    color: #ffffff;
  }
}
