@import "../../../custom";
.Box {
  color: $secondary-text-color;
  margin-bottom: 15px;
  .Title {
    background-color: $secondary-light;
    color: $primary-text-color;
    .Background2 {
      background-color: $gray;
      border-radius: 0 0 0 2rem;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      h4 {
        margin: 0;
        padding: 0;
        font-size: 1rem;
      }
    }
  }

  .Body {
    padding: 10px;
    .col {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  h4 {
    padding: 1rem 0;
  }
}
