.card-lesson {
  height: 220px;
  border-radius: 3rem 5px 5px 5px !important;
  align-content: space-around;
  text-align: center;
  .card-lesson-img-top {
    width: 95px;
  }

  .card-title {
    height: 82px;
    display: flex;
    align-items: center;
    margin: 0;
    h5 {
      margin: 0;
      width: 100%;
    }
  }
  &:hover {
    color: #ffffff;
  }
}
