@import "../custom";

.login-container {
  height: 100vh;
  display: flex;
  align-items: center;

  .box {
    background-color: #fff;
    border-radius: 0px 50px;
    color: $primary-text-color;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    h4,
    h6 {
      color: $secondary-dark;
    }
    form {
      margin: 20px 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .login-container {
    .box {
      border-radius: 0 100px;
      padding: 40px;
    }
  }
}
