.Card {
  background-color: gray;
  height: 165px;
  border-radius: 5px 3rem;
  padding: 1rem;
  display: flex;
  margin-bottom: 10px;
  .Body {
    border-radius: inherit;
    padding: 0rem;
    height: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    width: 100%;
    .Text {
      width: 100%;
    }
    .CardProgress {
      width: 100%;
      padding-left: 1rem;
      font-size: 0.7rem;
      .Progress {
        width: 70%;
        margin-left: 15%;
      }
    }
  }
  .Img {
    border-radius: inherit;
    height: 100%;
  }

  &:hover {
    color: #ffffff;
  }
}
