.Container {
  height: 100vh;
  align-items: center;
  .Box {
    width: 100%;
    border-radius: 0 15px 0px 15px;
    position: relative;
    .Info {
      width: 180px;
      position: absolute;
      top: -13px;
      border-radius: 13px;
      padding: 13px 0;
      z-index: 10;
    }
    .Exit {
      position: absolute;
      right: 0;
      top: 0;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
    }
    .Body {
      background-color: #fff;
      border-radius: inherit;

      .Row {
        margin: 0px;
        padding: 10px;
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .Instruction {
        background-color: #eceeef;
        border-bottom-left-radius: inherit !important;
        border-top-right-radius: 15px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-align: center;
        h4 {
          font-size: 0.8rem;
        }
      }
      .Img {
        height: 180px;
        margin-bottom: 10px;
        border-radius: 1rem;
      }

      .Question {
        background-color: #eceeef;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 10px 5px;
        position: relative;
        p {
          font-size: 0.8rem;
          margin-bottom: 0.5rem;
        }
        .Options {
          .Option {
            width: 100%;
            margin-bottom: 10px;
            height: 55px;
            font-size: 0.8rem;
            border-radius: 5px;
            padding: 5px;
            line-height: 1;
          }
        }

        .Pairs {
          display: flex;

          .Options {
            width: 70%;
            padding: 5px;

            h6 {
              font-size: 0.8rem;
            }

            &:first-child {
              width: 30%;
            }
            margin-bottom: 5px;
            &:first-child {
              border-right: 1px solid #7793a1;
            }
            .Option {
              width: 100% !important;
            }

            $colors-list: #ff47ff #47cdff #ffff6e #ffc947 #47ffc0 #ae52d4
              #7793a1 #9d726c;

            @each $color in $colors-list {
              $i: index($colors-list, $color);
              .Order#{$i} {
                background-color: $color;
              }
            }
          }
        }

        .progress-info {
          width: 60%;
          margin: 10px 20%;
          height: 5px;
          background-color: #fff;
        }

        .Evaluate {
          .Btn {
            min-width: 150px;
            margin-top: 0.5rem;
          }
          img {
            margin-left: 5px;
            position: relative;
            top: -2px;
          }
        }
      }
    }

    .Footer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      text-align: center;
      .BoxProgress {
        width: 90%;
        font-size: 0.75rem;
        color: #fff;
        .Progress {
          height: 10px;
        }
      }
    }
  }
}

@media (min-width: 567px) {
  .Container {
    .Box {
      .Body {
        .Row {
          flex-direction: row;
        }

        .Instruction {
          height: 40px;
          padding: 5px;
        }

        .Img {
          width: 35%;
          height: initial;
        }

        .Question {
          width: 65%;
          margin-left: 10px;
          .Options {
            .Option {
              margin-bottom: 5px;
              height: 45px;
            }
          }
          .Pairs {
            .Options {
              width: 65%;
              padding: 5px;

              h6 {
                font-size: 0.9rem;
              }

              &:first-child {
                width: 35%;
              }
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .Container {
    .Box {
      border-radius: 0 3rem 0 5rem;
      .Exit {
        height: 2.5rem;
        width: 2.5rem;
      }
      .Body {
        .Instruction {
          border-top-right-radius: inherit;
          height: 4rem;
        }

        .Row {
          padding-top: 2rem;
          padding-bottom: 2rem;
        }

        .Question {
          border-radius: 40px;
          .Options {
            .Option {
              width: 90%;
              margin-bottom: 1rem;
              height: 4.2rem;
              font-size: 1rem;
              border-radius: 5px;
              padding: 5px;
              line-height: initial;
            }
          }

          .Pairs {
            .Options {
              h6 {
                font-size: 1rem;
              }

              &:first-child {
                width: 35%;
              }
              margin-bottom: 10px;
            }
          }
        }
      }
      .Footer {
        height: 4rem;
        .BoxProgress {
          width: 60%;
          font-size: 0.9rem;
          .Progress {
            height: 0.8rem;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .Container {
    display: flex;
    .Box {
      .Body {
        .Row {
          padding: 1.5rem;
        }

        .Instruction {
          height: 4.5rem;
          h4 {
            font-size: 1.1rem;
          }
        }
        .Question {
          margin-left: 2rem;
          padding-left: 2rem;
          padding-right: 2rem;
          p {
            font-size: 1rem;
            margin-bottom: 0.8rem;
          }
          .Options {
            .Option {
              width: 70%;
              border-radius: 1rem;
            }
          }
        }
      }
    }
  }
}
