.Container {
  height: 100vh;
  align-items: center;
  display: flex;
  .Box {
    width: 100%;
    border-radius: 0 30px 0px 30px;
    position: relative;
    .Info {
      width: 180px;
      position: absolute;
      top: -13px;
      border-radius: 13px;
      padding: 13px 0;
      z-index: 10;
    }
    .Exit {
      position: absolute;
      right: 0;
      top: 0;
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: center;
    }
    .Body {
      background-color: #fff;
      border-radius: inherit;
      .Instruction {
        background-color: #eceeef;
        border-bottom-left-radius: inherit !important;
        border-top-right-radius: 30px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        h4 {
          font-size: 1rem;
        }
      }

      .Row {
        margin: 0px;
        padding: 5px 10px;
      }
      .Col {
        padding-right: 15px;
        padding-left: 15px;
      }

      .Question {
        background-color: #eceeef;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        padding: 0.5rem;
        position: relative;
        p {
          margin-bottom: 0.5rem;
        }
        .Options {
          .Option {
            width: 100%;
            margin-bottom: 0.5rem;
            height: 3.5rem;
            font-size: 0.9rem;
          }
        }

        .Pairs {
          display: flex;

          .Options {
            width: 50%;
            margin-bottom: 5px;
            &:first-child {
              border-right: 1px solid #7793a1;
            }
            .Option {
              width: 85% !important;
            }

            $colors-list: #ff47ff #47cdff #ffff6e #ffc947 #47ffc0 #ae52d4
              #7793a1 #9d726c;

            @each $color in $colors-list {
              $i: index($colors-list, $color);
              .Order#{$i} {
                background-color: $color;
              }
            }
          }
        }

        .progress-info {
          width: 60%;
          margin: 10px 20%;
          height: 5px;
          background-color: #fff;
        }

        .Evaluate {
          .Btn {
            min-width: 150px;
          }
          img {
            margin-left: 5px;
            position: relative;
            top: -2px;
          }
        }
      }
    }

    .Footer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
      text-align: center;
      .BoxProgress {
        width: 90%;
        font-size: 0.75rem;
        color: #fff;
        .Progress {
          height: 14px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .Container {
    .Box {
      border-radius: 0 50px 0px 100px;
      .Exit {
        height: 50px;
        width: 50px;
      }
      .Body {
        .Instruction {
          border-top-right-radius: 50px;
        }

        .Row {
          padding-top: 25px;
          padding-bottom: 25px;
        }

        .Question {
          border-radius: 40px;
          .Options {
            .Option {
              width: 90%;
            }
          }
        }
      }
      .Footer {
        .BoxProgress {
          width: 350px;
        }
      }
    }
  }
}

@media (min-width: 996px) {
  .Container {
    .Box {
      border-top-right-radius: 95px;
      .Body {
        .Instruction {
          border-top-right-radius: 95px;
          height: 95px;
          h4 {
            font-size: 1.5rem;
          }
        }
        .Question {
          .Options {
            .Option {
              width: 70%;
            }
          }
        }
      }
    }
  }
}
