@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@font-face {
  font-family: Roboto;
  src: url(./fonts/roboto/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(./fonts/montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(./fonts/montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
}

// Edifami Theme
$primary: #ff9800;
$primary-light: #ffc947;
$primary-dark: #c66900;
$primary-text-color: #000000;
$secondary: #4a6572;
$secondary-light: #7793a1;
$secondary-dark: #203b47;
$secondary-text-color: #ffffff;
$gray: #eceeef;
$gray-dark: #e4e4e4;

// Climafami Theme
/* $primary: #00acc1;
$primary-light: #5ddef4;
$primary-dark: #007c91;
$primary-text-color: #000000;
$secondary: #6d4641;
$secondary-light: #9d726c;
$secondary-dark: #401e1a;
$secondary-text-color: #ffffff;
$gray: #eceeef;
$gray-dark: #e4e4e4; */

// Equifami Theme
/* $primary: #7b1fad;
$primary-light: #ae52d4;
$primary-dark: #4a0072;
$primary-text-color: #ffffff;
$secondary: #ffe437;
$secondary-light: #ffff6e;
$secondary-dark: #c8b200;
$secondary-text-color: #000000;
$gray: #eceeef;
$gray-dark: #e4e4e4; */

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  gray: $gray,
  gray-dark: $gray-dark
);

$font-family-sans-serif: "Roboto", -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif: Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono",
  "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-family-second: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont,
  "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;
