@import "custom";
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: Roboto;
  src: url(./fonts/roboto/Roboto-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(./fonts/montserrat/Montserrat-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(./fonts/montserrat/Montserrat-Bold.ttf);
  font-weight: bold;
}

body {
  background: $gray-dark;
  font-family: $font-family-sans-serif;
}

.public {
  background-color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-second;
  font-weight: bold;
}

.btn {
  border-radius: 2rem;
}

/* NavBar */
.navbar-dark {
  margin-bottom: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
  padding: 0.2rem 1rem;
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.progress {
  border-radius: 10px;
}

/* End - NavBar */

/* Footer */
footer {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* End - Footer*/

.bg-primary {
  background-color: $primary;
}

.bg-primary-light {
  background-color: $primary-light;
  &:hover:not(.active) {
    background-color: $primary-light !important;
    color: $primary-text-color;
    box-shadow: none;
  }
}

.bg-primary-dark {
  background-color: $primary-dark;
}

.primary-text-color {
  color: $primary-text-color !important;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-secondary-light {
  background-color: $secondary-light;
}

.bg-secondary-dark {
  background-color: $secondary-dark;
}

.secondary-text-color {
  color: $secondary-text-color !important;
}

/*Forms*/
.form-group {
  label {
    margin-bottom: 0;
  }
  .form-control {
    border-radius: 20px;
    border: 1px solid $secondary;
    background-color: $secondary;
    color: $secondary-text-color;
    text-align: center;
    &:focus {
      background-color: $secondary-light;
      color: $secondary-text-color;
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

/*Forms -END*/

@media (min-width: 567px) {
  .container {
    max-width: initial;
  }
}
