@font-face {
  font-family: Muli;
  src: url(./fonts/Muli-Regular.ttf);
}

@font-face {
  font-family: Muli-Light;
  src: url(./fonts/Muli-Light.ttf);
}

body {
  background: #f5f5f5;
  font-family: "Muli", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Muli", sans-serif;
}

/* NavBar */
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}
