@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
  background: $gray-dark;
  font-family: $font-family-sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-second;
  font-weight: bold;
}

/* NavBar */

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
  padding: 0.2rem 1rem;
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

/* End - NavBar */

/* Footer */
footer {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* End - Footer*/

.box {
  color: $secondary-text-color;
  .box-title {
    background-color: $secondary-light;
    color: $primary-text-color;
    .box-title-background-2 {
      background-color: $gray;
      border-radius: 0 0 0 2rem;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      h4 {
        margin: 0;
      }
    }
  }

  .box-body {
    padding: 15px;
    .col {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

  h4 {
    padding: 1rem 0;
  }

  ul {
    list-style: none;
    padding-left: 0.5rem;
    li {
      font-family: $font-family-second;
      font-size: 1rem;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
  }

  .medals {
    background-color: $secondary;
    .medals-background-2 {
      background-color: $secondary-light;
      border-radius: 0 0 0.25rem 2rem;
      padding-bottom: 1rem;

      .medal {
        border: none;
        display: inline-block;
        list-style: none;
        list-style-position: initial;
        margin: 0.5rem;
      }
    }
  }

  .certificates {
    background-color: $secondary-dark;
    .certificates-background-2 {
      background-color: $secondary;
      border-radius: 0 0 0.25rem 2rem;
      padding-bottom: 1.5rem;
      li {
        margin: 1rem 0;

        a {
          color: $secondary-text-color;
          width: 100%;
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }

  .mi-progress {
    .mi-progress-background-2 {
      background-color: $secondary-dark;
      border-radius: 0 0 0.25rem 2rem;
      padding-bottom: 1.5rem;
      li {
        margin: 1rem 0;
        a {
          color: $secondary-text-color;
        }
        .progress {
          height: 10px;
          margin: 0.5rem 1rem 1rem 1rem;
        }
      }
    }
  }
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-secondary-light {
  background-color: $secondary-light;
}

.bg-secondary-dark {
  background-color: $secondary-dark;
}

.secondary-text-color {
  color: $secondary-text-color;
}
